@import "src/style/colors"
@import "src/style/sizes"
@import "src/style/breakpoints"

@include media-breakpoint-up(xxxl)
    .background-image-container
        height: 35vh !important

    .title-container 
        margin-top: 160px !important

        .title
            font-size: $basic-font-xl !important
        .back-icon
            padding-right: 1rem !important
            height: 20px !important

.background-image-container
    width: 100%
    height: 40vh
    left: 0
    top: 0
    position: absolute
    display: block
    overflow: hidden
    z-index: -1

    img
        width: 106%
        height: 106%
        margin: -11px
        position: absolute
        -o-object-fit: cover
        object-fit: cover
        z-index: -1
        -ms-filter: blur(6px) brightness(0.6)
        -webkit-filter: blur(6px) brightness(0.6)
        filter: blur(6px) brightness(0.6)

.title-container
    margin-top: 100px
    width: 100%

    .title
        font-size: $basic-font
        line-height: 1.94

    .back-icon
        cursor: pointer
        padding-right: 0.75rem
    
    hr
        border: 0
        border-top: 1px solid $grey-color