.header-text
    position: absolute
    z-index: 1
    margin-top: 40px
    font-size: 24px
    line-height: 1.291

.footer-text
    font-size: 14px
    color: rgb(170, 170, 170)
    line-height: 2.213
