@import "src/style/colors"
@import "src/style/sizes"
@import "src/style/breakpoints"

.header-text
    position: absolute
    z-index: 1
    margin-top: 40px
    font-size: $header-font
    line-height: 1.291

.footer-text
    font-size: $footer-font
    color: $grey-color
    line-height: 2.213

@include media-breakpoint-up(xxl)
    .container 
        max-width: 1140px !important
  

@include media-breakpoint-up(xxxl)
    .container 
        max-width: 2000px !important

    .header-text
        font-size: $header-font-xl
        margin-top: 80px
    
    .footer-text
        font-size: $footer-font-xl





  
  

