$basic-font: 16px
$header-font: 24px
$footer-font: 14px
$modal-title-font: 20px

$basic-font-xl: 26px
$header-font-xl: 34px
$footer-font-xl: 24px

$card-height-sm: 222px
$card-width-sm: 255px

$card-height-xl: 392px
$card-width-xl: 445px


