<header [isCategoriesView]="isCategoriesView" [title]="title" [backgroundImage]="backgroundImage"></header>

<div class="row row-cols-2 row-cols-md-4">
    <div *ngFor="let item of itemsList; let i = index" class="col mb-4" >
        <item [isCategoriesView]="isCategoriesView" [itemsList]="itemsList" [index]="i" (mouseenter)="onMouseEnter(i)"
            (mouseleave)="item.hover = false" (backgroundImageChange)="changeBackground($event)"></item>
    </div>

    <div class="col mb-4">
        <div class="card justify-content-center text-center" data-toggle="modal"
            [attr.data-target]="isCategoriesView ? '#addGalleryModal' : '#addImageModal'">
            <img [src]="isCategoriesView ? 'assets/icons/add-circle-icon.svg' : 'assets/icons/add-image-icon.svg'" />
            <span>{{itemText | uppercase}}</span>
        </div>
    </div>
</div>

<div class="modal fade" id="addGalleryModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img class="d-inline-block close-icon" src="assets/icons/close-icon.svg" />
                    <span class="d-inline-block text-white">ZAVRIEŤ</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="modal-title">{{itemText | uppercase}}</span>
                <div class="input-group input-group-sm">
                    <input #category type="text" class="form-control-plaintext" required
                        placeholder="ZADAJTE NÁZOV KATEGÓRIE">
                    <button class="btn btn-sm" type="button" (click)="addGallery(category.value); category.value=''"
                        data-dismiss="modal">
                        <img class="d-inline-block add-icon" src="assets/icons/add-icon.svg" />
                        <span class="d-inline-block text-white">PRIDAŤ</span>
                    </button>

                    <img class="line-icon" src="assets/icons/line-icon.svg" />

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addImageModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img class="d-inline-block close-icon" src="assets/icons/close-icon.svg" />
                    <span class="d-inline-block text-white">ZAVRIEŤ</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="modal-title">{{itemText | uppercase}}</span>
                <div class="dropzone" dragAndDrop (fileDropped)="onFileDropped($event)">
                    <input type="file" #fileDropRef id="fileDropRef" multiple
                        (change)="fileBrowseHandler($event.target.files)" accept=".png, .jpg, .jpeg .svg" />
                    <img style="width: 30px;" src="assets/icons/add-image-icon.svg" />

                    <h5>SEM PRESUNTE FOTKY</h5>
                    <h5>alebo</h5>
                    <label for="fileDropRef">VYBERTE SÚBORY</label>
                </div>
                <button class="btn btn-sm add-image-btn" type="button" (click)="addImage()" data-dismiss="modal">
                    <img class="d-inline-block add-icon" src="assets/icons/add-icon.svg" />
                    <span class="d-inline-block text-white">PRIDAŤ</span>
                </button>
            </div>
        </div>
    </div>
</div>